// colores
$primary: #FF8C42;
$secondary: #66CDAA;
$accent: #FA4C4C;
$gray: #4A4A4A;
$light-gray: #F5F5F5;

// fuente
$font-montserrat: "Montserrat";
$font-gotham: "Gotham";
// breakpoints
$xs: 0;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

// font-size
$fs-2xl: 3.062rem;
$fs-xl: 2.438rem;
$fs-lg: 1.938rem;
$fs-md: 1.562rem;
$fs-base: 1rem;
$fs-sm: 0.812rem;
$fs-xs: 0.625rem;

