#Directorio de compilación de Maven
target/

#Archivos generados por el IDE IntelliJ IDEA
.idea/
*.iml

#Archivos generados por el IDE Eclipse
.classpath
.project
.settings/

#Archivos de configuración específicos de la máquina local
*.log
*.swp

#Archivos de configuración de Maven y Gradle
*.jar
*.war
*.ear

#Archivos de configuración de Spring Boot (configuraciones específicas locales)
*.properties
*.yml
*.json